@media all and (max-width: 1024px) {
    .section-contact .right-box {
        padding-left: 20px;
    }
    .partner .peron-img-wrap {
        width: 135px;
        height: 135px;
        margin-right: 8px;
        line-height: 130px;
    }
    .section-post .filter-box,
    .filter-box {
        position: fixed;
        display: inline-block;
        z-index: 9999;
        background-color: #fff;
        top: 0;
        left: -400px;
        padding: 100px 20px;
        height: 100%;
        width: 360px;
        margin: 0;
        border: none;
        -webkit-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
        -moz-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
        -ms-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
        -o-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
        box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
        -webkit-transition: left 0.35s;
        -moz-transition: left 0.35s;
        -o-transition: left 0.35s;
        transition: left 0.35s;
    }
    .section-post .show .filter-box,
    .show .filter-box {
        left: 0;
    }
    .filter-title {
        margin-bottom: 22px;
        font-size: 36px;
    }
    .filter-title + a {
        margin-top: -14px;
    }
    .filter-box a {
        font-size: 20px;
    }
    .section-post .container-inner,
    .section-blog .container-inner {
        max-width: 100%;
    }
    .category-btn-box {
        display: block;
        margin-bottom: 26px;
    }
    .section-blog .container.blog {
        margin-top: -44px;
    }
    .category-btn-box {}
    .section-blog .section-title-box {
        display: inline-block;
    }
    .filter-box a.mobile-menu-close,
    .filter-box .mobile-menu-close {
        display: block;
    }
    .section-post {
        padding-top: 40px;
    }
        .section-post .category-btn-box {
            text-align: right;
        }
}
@media all and (max-width: 767px) {
    .blog-list > li:first-child .blog-short-title {
        bottom: 0;
    }
    .blog-list > li:first-child .blog-desc {
        bottom: -110px;
    }
    .blog-short-title {
        bottom: 30px;
    }
    .blog-desc {
        bottom: -80px;
    }
    .blog-list {
        margin-bottom: 10px;
    }
    .blog-list > li {
        margin-bottom: 84px;
    }
    .post-banner-info {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media all and (max-width: 640px) {
    .header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
    }
    .admin-bar .header {
        top: 45px;
    }
    #main-content {
        padding-top: 84px;
    }
    .admin-bar #main-content {
        padding-top: 128px;
    }
    .content > * {
        margin-bottom: 31px;
    }
    .content h1, .content > h1,
    .content h2, .content > h2,
    .content h3, .content > h3,
    .content h4, .content > h4,
    .content h5, .content > h5,
    .content h6, .content > h6 {
        margin-bottom: 20px;
        line-height: 1.1;
    }
    .content h1, .content > h1 {
        font-size: 28px;
    }
    .content h2, .content > h2 {
        font-size: 24px;
    }
    .content h3, .content > h3 {
        font-size: 22px;
    }
    .content h4, .content > h4 {
        font-size: 20px;
    }
    .content h5, .content > h5 {
        font-size: 19px;
    }
    .content h6, .content > h6 {
        font-size: 18px;
    }
    .content h1 + ol, .content > h1 + ol,
    .content h1 + ul, .content > h1 + ul,
    .content h2 + ol, .content > h2 + ol,
    .content h2 + ul, .content > h2 + ul,
    .content h3 + ol, .content > h3 + ol,
    .content h3 + ul, .content > h3 + ul,
    .content h4 + ol, .content > h4 + ol,
    .content h4 + ul, .content > h4 + ul,
    .content h5 + ol, .content > h5 + ol,
    .content h5 + ul, .content > h5 + ul,
    .content h6 + ol, .content > h6 + ol,
    .content h6 + ul, .content > h6 + ul {
        margin-top: -16px;
    }
    .content img.alignleft,
    .content img.alignright,
    .content img.aligncenter,
    .content img.alignleft + img.alignright {
        float: none;
        display: block;
        max-width: 100%;
        margin: 10px auto 12px;
        clear: both;
    }
    #main-content {
        padding-bottom: 0;
    }
        .img-box,
        .swiper-slide {
            height: 348px;
        }
    .section-contact .right-box,
    .section-contact .left-box {
        float: none;
        max-width: 100%;
        padding: 0;
        border: none;
    }
    .section-contact .left-box {
        width: 100%;
        padding-bottom: 50px;
    }
    .section-contact .social-links-box {
        margin-left: 0;
        margin-right: 0;
    }
    .post-banner-img-wrap {
        padding-bottom: 0;
        height: 314px;
    }
        .share-box {
            display: block;
            overflow: hidden;
            margin-top: 48px;
            margin-right: -30px;
        }
            .share-box .social-links {
                display: inline-block;
                width: initial;
            }
    .post-title {
        font-size: 35px;
    }
    .section-our-work {
        padding-top: 0;
        margin-top: -7px;
    }
        .section-our-work .section-title-box {
            margin-bottom: 20px;
        }
            .section-title {
                font-size: 64px;
                line-height: 1;
            }
            .who-we-list > li {
                width: 100%;
                padding: 0;
                margin-bottom: 33px;
            }
            .who-we-list > li:nth-child(even) {
                text-align: left;
            }
                .person-top-box {
                    margin-bottom: 19px;
                }
                    .peron-img-wrap,
                    .partner .peron-img-wrap {
                        width: 132px;
                        height: 132px;
                        line-height: 125px;
                        margin-right: 17px;
                    }
                    .partner .person-info {
                        margin-top: 14px;
                    }
                    .person-info {
                        margin-top: 14px;
                        padding-left: 4px;
                    }
                    .person-name {
                        font-size: 35px;
                    }
        .no-js a.person-more-info,
        .no-js .person-more-info {
            display: none;
        }
        a.person-more-info,
        .person-more-info {
            display: inline-block;
        }
        .person-desc {
            margin-bottom: 0;
        }
        .no-js .person-desc.more {
            display: block;
        }
        .person-desc.more {
            display: none;
            margin-top: 20px;
        }
    .section-case-study {
        margin-top: -23px;
        padding-top: 0;
        padding-bottom: 0;
    }
        .section-case-study .left-box,
        .section-case-study .right-box {
            float: none;
            width: 100%;
            padding: 0 0 20px;
        }
        .section-case-study .right-box {
            margin-top: 12px;
            margin-bottom: 28px;
            padding-bottom: 8px;
            text-align: left;
            border-left: none;
            border-bottom: 2px solid #0474B2;
        }
            .section-title-box {
                padding-left: 3px;
            }
            .section-title-box:before {
                top: -14px;
                left: -49px;
            }
            .section-case-study .section-title-box:before {
                top: -34px;
                left: -52px;
            }
                .section-case-study .section-title {
                    line-height: 1.1;
                }
    .section-events {
        padding-top: 0;
        margin-top: -4px;
    }
        .section-events .content {
            margin-bottom: 12px;
        }
            .our-work-list.popular {
                margin: 0 -20px 12px;
            }
                .our-work-list.popular > li:first-child .our-work-box,
                .our-work-list.popular > li .our-work-box {
                    padding: 0;
                    height: 354px;
                }

            .section-blog {
                padding-top: 0;
                margin-top: -3px;
            }
                .section-blog .section-title-box {
                    margin-bottom: 26px;
                }
                .filter-box,
                .section-post .filter-box {
                    width: 100%;
                    left: -100%;
                }
                .container-inner {
                    max-width: 100%;
                }
                    .blog-list {
                        width: 100%;
                        margin: 0;
                    }
                        .blog-list > li,
                        .blog-list > li:first-child {
                            float: none;
                            width: 100%;
                            margin: 0 auto 50px;
                            padding: 0;
                        }
                        .blog-list > li {
                            margin-bottom: 40px;
                        }
                            .blog-list > li:first-child .blog-box {
                                height: 234px;
                                padding-bottom: 0;
                                margin-bottom: 18px;
                            }
                            .blog-box {
                                height: 154px;
                                padding-bottom: 0;
                            }
                            .blog-short-title {
                                top: 50%;
                                width: 100px;
                                height: 100px;
                                bottom: initial;
                                 -webkit-transform: translate(-50%, -50%);
                                -khtml-transform: translate(-50%, -50%);
                                -moz-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                -o-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                            }
                            .our-work-short-title,
                            .blog-list > li:first-child .blog-short-title {
                                top: 50%;
                                width: 122px;
                                height: 122px;
                                padding: 10px;
                            }
                            .blog-list > li:first-child .blog-desc,
                            .blog-desc {
                                position: initial;
                                height: auto;
                                padding: 0;
                                bottom: initial;
                                left: initial;
                                width: 100%;
                            }
                                .blog-short-title span {
                                    font-size: 13px;
                                }
                                .our-work-short-title span,
                                .blog-list > li:first-child .blog-short-title span {
                                    font-size: 18px;
                                }
                                .blog-desc p {
                                    max-width: 100%;
                                    height: initial;
                                }
    .our-work-list {
        margin: 0 auto;
    }
        .our-work-list > li {
            float: none;
            width: 100%;
            padding: 0;
        }
        .our-work-list > li:first-child {
            padding: 0;
        }
            .our-work-box {
                height: 153px;
                padding: 0;
            }
            .our-work-list > li:first-child .our-work-box {
                height: 234px;
                padding: 0;
            }

    .section-hero {
        height: 376px;
        padding-top: 85px;
        padding-bottom: 40px;
        text-align: center;
    }
        .hero-title-inner-box {
            min-width: 246px;
            min-height: 246px;
            padding-left: 40px;
        }
        .hero-title {
            font-size: 51px;
        }
    .section-hero-nav {
        text-align: center;
    }
    .hero-nav {
        display: inline-block;
        padding: 0;
    }
        .hero-nav > li {
            display: block;
        }
        .hero-nav > li:not(:last-child) {
            border-right: none;
            border-bottom: 3px solid #F07F22;
        }
            .hero-nav > li a {
                padding: 32px 5px 36px;
                letter-spacing: .05em;
            }
    .section-hero-content {
        padding: 21px 0 19px;
    }
        .section-hero-content .content {
            line-height: 1.48;
        }
    .footer-logo {
        display: none;
    }
    .social-links-box {
        display: block;
        margin: 0 -17px;
    }
        .social-links {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 0 auto 10px;
        }
            .social-links > li {
                display: table-cell;
                vertical-align: top;
                padding: 0 17px;
            }
                .social-links > li a {
                    width: 100%;
                    /*max-width: 84px;*/
                    height: 44px;
                }
                .social-links .fab {
                    line-height: 44px;
                }
                .social-links .fa-facebook-f {
                    right: -3px;
                    line-height: 51px;
                    font-size: 36px;
                }
                .social-links .fa-twitter {
                    font-size: 24px;
                    line-height: 44px;
                }
                .social-links .fa-linkedin-in {
                    font-size: 34px;
                    line-height: 44px;
                }
    a.footer-email-box,
    .footer-email-box {
        display: block;
        max-width: 100%;
        margin-bottom: 6px;
        padding: 7px 10px 7px;
        font-size: 18px;
    }
    .footer-menu {
        margin-right: 0;
        text-align: center;
    }
        .footer-menu > li a {
            font-size: 18px;
        }
    .footer {
        position: initial;
        left: initial;
        bottom: initial;
        padding-bottom: 18px;
    }
    .mobile-menu-box {
        right: -800px;
        width: 100%;
        padding: 130px 20px 100px;
    }
    .mobile-menu-inner-box {
        max-width: 290px;
        margin: 0 auto;
    }
    .mobile-menu > li a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .mobile-menu-close {
        top: 48px;
        left: 0;
    }
    .mobile-menu-box .social-links-box {
        max-width: 290px;
        margin: 0 auto;
    }
    .mobile-menu {
        margin-bottom: 15px;
    }
    a.menu-email-box,
    .menu-email-box {
        margin-bottom: 30px;
    }
    .mobile-menu-box .social-links {
        max-width: 278px;
    }
}
@media all and (max-width: 600px) {
    .admin-bar .header {
        top: 0;
    }
    .admin-bar #main-content,
    #main-content {
        padding-top: 85px;
    }
    .mobile-menu-box {
        padding-top: 80px;
    }
    .mobile-menu-close {
        top: 0;
        left: 0;
    }
}


@media all and (max-width: 480px) {
    .wrap-404 {
        padding: 30px 0 40px;
        font-size: 50px;
    }
    .wrap-404 .error-404{
        font-size: 140px;
        margin-bottom: -25px;
    }
}